<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.application.jojobudiman.konigeldandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".checkout.PaymentSuccessEmailReceipt"></activity>
        <activity android:name=".checkout.PaymentSuccessNoReceipt" />
        <activity android:name=".checkout.PaymentSuccess" />
        <activity
            android:name=".ChangeMenu"
            android:label="@string/title_activity_change_menu"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity android:name=".Receipt" />
        <activity android:name=".checkout.EnterCash" />
        <activity android:name=".checkout.ChargePayment" />
        <activity android:name=".StockRecieved" />
        <activity android:name=".CreateProduct" />
        <activity
            android:name=".sidebar.SidebarMenu"
            android:label="@string/title_activity_sidebar_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".starter.WelcomeText" />
        <activity android:name=".starter.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".starter.MenuChoice">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".starter.SignUp">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".starter.SignIn">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".checkout.MainFragment"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>